.weather-img1 {
  max-width: 123px;
}

.title-city1 {
  font-family: Roboto;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}

#arrow1 {
  width: 0.75em;
  padding-bottom: 0.2em;
}

.degree-number1 {
  font-size: 2.5em;
  font-weight: 500;
  font-family: Poppins;
  text-align: center;
}

#degree-picture1 {
  width: 8px;
  vertical-align: top;
}

#removal {
  font-size: 0.8em !important;
  padding: 0.7em 0.85em !important;
}
