.nolocation-container {
    padding-top: 8em;
  }

.nolocation-img {
    width: 100%;
    height: auto;
  }

.nolocation-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.3em;
    padding-top: 1.5em;
    padding-left: 0.7em;
}
  
