.flex-container {
  float: right;
}

.btn-success {
  font-size: 0.7em !important;
  padding: 0.7em 0.6em !important;
}

.btn-danger {
  font-size: 0.7em !important;
  padding: 0.7em 0.6em !important;
}

@media only screen and (max-width: 700px) {
  .flex-container {
    float: right;
    // margin-right: 0.1em;
  }
}
